spring:
  datasource:
    url: jdbc:h2:mem:dev
    username: dev
    password: dev
    title: "Twitter API"
    version: ${APP_VERSION:"x.x.x"}
    url: ${SERVER_URL:http://localhost:8080/}

  jpa:
    hibernate:
       ddl-auto: none
    show-sql: true

  h2:
    console:
      enabled: true

  flyway:
    enabled: true