spring:
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
  cache:
    type: REDIS
  data:
    redis:
      port: 6379
      password: ${REDIS_PASSWORD}
