spring:
  datasource:
    url: jdbc:h2:mem:dev
    username: dev
    password: dev
    title: "Twitter API"
    version: "2.2.0"

  jpa:
    hibernate:
       ddl-auto: none
    show-sql: true

  h2:
    console:
      enabled: true

  flyway:
    enabled: true